/* home start*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
button{
    font:inherit;
}
#home{
    padding-top: 6rem;
}
.image img{
    border-radius: 70%;
    border: 7px solid #0074ba;
    display: block;
    margin: 0px auto;
    height: 15.625rem;
    margin-top: 6.25rem;
}
.proff{
    text-align: center;
    font-size: 22px;
    color: #222222;
    height: 1.2rem;
}
.onebyone{
    color: #222222;
    animation: onebyone 3s steps(15) infinite alternate,curser 0.5s infinite;
    border-right: 2px solid black;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    width: 15ch;
}
@keyframes onebyone {
    from{
        width: 0;
    }
}
@keyframes curser {
    50%{
        border: transparent;
    }
}
aside{
    position: fixed; 
    padding: 1rem;
    left: 44.5rem;
    top: 50vh;
    background-color:white;
    color:black;
    display: flex;
    justify-content: center;
    transform: rotate(90deg);
    width:100%;
    z-index: 2;
}
.name{
    font-size:2.5rem;
    height: 2.5rem;
}
body{
    margin: 0%;
    background-color:#eeeeee;
}
#navi a{
    padding:0rem 1.5rem;
    font-size:1.2rem ;
    color:black; 
    text-decoration:none;
}
#navi a:hover{
    color:#0074ba;
}
.transition a{
    text-decoration: none;
    color:#eeeeee;
    background-color: black;
    border: 2px solid black;
    padding: 7px;
    padding-left: 1rem;
    display: inline-block;
    padding-right: 1rem; 
    margin-bottom:15rem ;
    text-align: center;
    width:fit-content; 
    transition: all 0.5s;
}
.transition {
    margin-top: 2.5rem;
    text-align: center;
}
#home a:hover{
    letter-spacing: 2px;
    width: 10rem;
    text-decoration:none;
    background-color: #0074ba; 
    border: 2px solid #0074ba;   
}
.size span{
    color: #0074ba;
    font-size: 60px;
}
.font span{
    color:#0074ba;
    font-size: 25px;
}
/* home end */
/* about start */
#about{
    height: 100vh;
}
.divpad{
    padding-right: 7rem;
}
.inlane{
    gap: 2rem;
    display: grid;
    grid-template-columns: 30% 70%;
    flex-wrap: wrap;
}
.info{
    margin-top: 0%;
    display: flex;
    flex-wrap: wrap;
    gap: 16rem;
}
.info p{
    font-size: 1.2rem;
}
.h1{
    padding-top: 5rem;
    text-align: center;
    font-size: 60px;
    height:30px;
}
.proff1{
    line-height: 2;
    font-size: 1.2rem;
    padding: 10px;
}
/* about end */
/* services start */
#services{
    height: 100vh;
    padding-top: 5rem;
}
h2{
    font-size:  60px;
}
span{
    color: #0074ba;
}
.box{
    background-color: white;
    border-radius: 20px;
    width: fit-content;
    padding: 30px;
    text-align: center;
    transition: all 2s;
}
.box:hover{  
    transform:scale(1.1);
    background-image: radial-gradient(white,rgb(189, 188, 188));
    border: 2px solid rgb(189, 188, 188);
}
.align{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content:space-around;
    text-align: center;
} 
/* services end */
/* projects starts */
#project{
    height: 100vh;
}
#color{
    color: #0074ba;
    font-size: 60px;
}
.letter{
    font-size: 4rem;
    background-color: white;
    border-radius: 10px;
    width:23rem;
    height: 15rem;
    padding: 3rem;
    text-align: center;
}
.letter a{
    color: #0074ba;
    text-decoration: none;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
/* projects end */
/* contact starts */
.h2{
    font-size:2.5rem;
    height: 2.5rem;
    text-align: center;
}
#contact{
    margin-top: 4rem;
    height: fit-content;
    padding: 1rem 1.5rem;
    border: 1.5px solid black;
    border-radius: 5px;
    width:fit-content;
}
input,textarea{
    outline: none;
    border-radius: 4px;
    border:2px solid rgb(177, 176, 176);
}
input:focus,textarea:focus{
    border:2px solid #0074ba;
    border-radius: 4px;
}
.d-1 input{
    font-size: 1rem;
    margin-top: 1rem;
    height: 2rem;
    width: 16.65rem;
}
.d-2 input{
    font-size: 1rem;
    height: 2rem;
    width: 33.3rem;
    margin-top: 1rem;
}
.d-3 textarea{
    font-size: 1rem;
    font-display: 65ch;
    padding-bottom: 10rem;
    width: 33.3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}
.d-4 a{
    color: white;
    background-color: #222222;
    margin-top: 1rem;
    padding: 10px 20px;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    border: 2px solid #222222;
    transition: all 1s;
}
.d-4 a:hover{
    letter-spacing: 3px;
    width: 4rem;
    text-decoration:none;
    background-color: #0074ba; 
    border: 2px solid #0074ba; 
}
.inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 
/* contact end */
/* footer start */
footer{
    padding: 0.3rem;
    text-align: center;
    background-color: white;
}
/* footer end */
/* change it into responsive */
@media (max-width:786px){
    /* home responsive start*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
button{
    font:inherit;
}
#home{
    padding-top: 6rem;
}
.image img{
    border-radius: 70%;
    border: 7px solid #0074ba;
    display: block;
    margin: 0px auto;
    height: 12.625rem;
    margin-top: 4.25rem;
}
.proff{
    text-align: center;
    font-size: 18px;
    color: #222222;
    height: 1.2rem;
}
.onebyone{
    color: #222222;
    animation: onebyone 3s steps(15) infinite alternate,curser 0.5s infinite;
    border-right: 2px solid black;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    width: 15ch;
}
@keyframes onebyone {
    from{
        width: 0;
    }
}
@keyframes curser {
    50%{
        border: transparent;
    }
}
.name{
    margin-bottom: 3rem;
    font-size:2rem;
    height: 2.5rem;
}
body{
    margin: 0%;
    background-color:#eeeeee;
}
.transition a{
    text-decoration: none;
    color:#eeeeee;
    background-color: black;
    border: 2px solid black;
    padding: 7px;
    padding-left: 1rem;
    display: inline-block;
    padding-right: 0.5rem; 
    margin-bottom:15rem ;
    text-align: center;
    width:fit-content; 
    transition: all 0.5s;
}
.transition {
    margin-top: 2.5rem;
    text-align: center;
}
#home a:hover{
    letter-spacing: 2px;
    width: 10rem;
    text-decoration:none;
    background-color: #0074ba; 
    border: 2px solid #0074ba;   
}
.size span{
    color: #0074ba;
    font-size: 2.75rem;
}
.font span{
    color:#0074ba;
    font-size: 25px;
}
/* home responsive end */
/* about responsive start */
#about{
    height: 100%;
}
.inlane{
    gap: 2rem;
    display:flex;
    flex-wrap: wrap;
}
.divpad{
    padding: 1rem;
}
.inlane img{
    padding-top: 10%;
    width: 100%;
    height: auto;
}
.info{
    margin-top: 0%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.info p{
    font-size: 1.2rem;
}
.h1{
    padding-top: 5rem;
    text-align: center;
    font-size: 2.75rem;
    height:30px;
}
.proff1{
    line-height: 1.5;
    font-size: 1.2rem;
    padding: 10px;
    color: #222222;
}
/* about responsive end */
/* services responsive start */
#services{
    height: 100%;
    padding-top: 5rem;
}
h2{
    font-size:  2.75rem;
}
span{
    color: #0074ba;
}
.box{
    background-color: white;
    border-radius: 20px;
    width: fit-content;
    padding: 30px;
    text-align: center;
}
.box:hover{
    background-image: radial-gradient(white,rgb(189, 188, 188));
    border: 2px solid grey;
}
.align{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content:space-around;
    text-align: center;
}
/* services responsive end */
/* projects responsive starts */
#projects{
    height: 100%;
}
#color{
    color: #0074ba;
    font-size: 60px;
}
.letter{
    color: #0074ba;
    font-size: 4rem;
    background-color: white;
    border-radius: 10px;
    width:17rem;
    height: fit-content;
    padding: 3rem;
    text-align: center;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
/* projects responsive end */
/* contact responive starts */
.h2{
    font-size:2rem;
    height: 2.5rem;
    text-align: center;
}
#contact{
    margin-top: 4rem;
    height:25.5rem;
    padding: 0.5rem 1rem;
    border: 1.5px solid black;
    border-radius: 5px;
    width:100%;
}
input,textarea{
    outline: none;
    border-radius: 4px;
    border:2px solid rgb(177, 176, 176);
}
input:focus,textarea:focus{
    border:2px solid #0074ba;
    border-radius: 4px;
}
.d-1 input{
    margin-top: 1rem;
    height: 2rem;
    width: 8rem;
    font-size: 1rem;
}
.d-2 input{
    height: 2rem;
    width: 16rem;
    margin-top: 1rem;
    font-size: 1rem;
}
.d-3 textarea{
    font-size: 1rem;
    font-display: 65ch;
    padding-bottom: 10rem;
    width: 16rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}
.d-4 a{
    color: white;
    background-color: #222222;
    margin-top: 1rem;
    text-decoration: none;
    padding: 10px 20px;
    width: fit-content;
    height: fit-content;
    border: 2px solid #222222;
    transition: all 1s;
}
.d-4 a:hover{
    letter-spacing: 3px;
    width: 3rem;
    text-decoration:none;
    background-color: #0074ba; 
    border: 2px solid #0074ba; 
}
.inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inline img{
    width: 100%;
    height: auto;
}
/* contact responsive end */
/* footer responsive start */
footer{
    margin-top: 10px;
    padding: 0.3rem;
    text-align: center;
    background-color: white;
}
/* footer responsive end */
/* change it into responsive */
}